.content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 5px 10px;
    background-color: var(--accent);
    border: 1px solid var(--secondary);
    border-radius: 8px;
    margin: auto 50px;
    width: 70%;
    height: 820px;
}

.visitCard{
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: var(--card);
    border: 1px solid var(--card-border);
    padding: 16px;
    border-radius: 8px;
    gap: 50px;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.textfield{
    max-width: 700px;
    border: 1px solid var(--primary);
    background-color: white;
    font-family: Inter, serif;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 4px;
}

.status{
    text-align: center;
    width: 200px;
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.paybutton{
    background-color: #333333;
    display: flex;
    align-items: center;
    padding: 5px 8px;
    gap: 10px;
    border-radius: 8px;
}
.paybuttonlogo{
    width: 30px;
}

.paybuttontext{
    font-family: Inter, serif;
    font-size: 18px;
    color: white;
}

.details{
    background-color: var(--primary);
    display: flex;
    align-items: center;
    padding: 5px 8px;
    gap: 10px;
    border-radius: 8px;
    font-family: Inter, serif;
    font-size: 18px;
    align-self: center;
    justify-self: center;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.avatar{

}
.paginationbuttons{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: white;
    padding: 8px 16px;
    font-size: 18px;
    font-family: Inter, serif;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
}

